h1 TwitterFace

h2 My Friends
table.table
  tr(ng-repeat="profile in profile.friendProfile")
    td{{profile.name}}
    td{{profile.age}}
    td{{profile.hobbies}}
    td: img(ng-src="{{profile.photo}}")

