.modal.fade#modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss="modal")
          span &times;
        h2 Profile
      .modal-body
        form(name="profileForm")
          .form-group
            label.control-label Name
            input.form-control(type="text", placeholder="Bob", ng-model="auth.person.name", required)
          .form-group
            label.control-label Email
            input.form-control(type="email", placeholder="bob@abc.com", ng-model="auth.person.email", required)
          .form-group
            label.control-label Age
            input.form-control(name="a", type="text", placeholder="100", ng-model="auth.person.age", required)
          .form-group
            label.control-label Hobbies
            input.form-control(type="text", placeholder="hiking", ng-model="auth.person.hobbies", required)
          .form-group
            label.control-label Photo URL
            input.form-control(type="url", placeholder="http://google.com/img.jpg", ng-model="auth.person.photo", required)
          .form-group
            label.control-label Password
            input.form-control(type="password", placeholder="Enter password", ng-model="auth.person.password", required)
      .modal-footer
        button.btn.btn-danger(ng-click="auth.saveProfile()") Save
        button.btn.btn-default(data-dismiss="modal") Cancel

