.jumbotron.center-content
  h1 TwitterFace

  h4 To prepare ourselves and future generations for the inevitable robot cat takeover.

  a(href='#/friends')
    h3 My Friends

.all-members
  h2 All Members
  .friendContainer
    .newFriend(ng-repeat="(id, person) in profile.people")
      a(href="#/people/{{id}}")
        img.picture.thumbnail(ng-src="{{person.photo}}")
